/* External Styling ，不需要 <style></style> */

/* pseudo element */
p::first-letter {
  color: hotpink;
}

p {
  text-indent: 2em;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 500;
}

body {
  margin: 5em;
  border-style: 10px dotted red;
}

#problem1 {
  color: purple;
  background-color: aqua;
  width: 10vw;
  height: 5vh;
  display: block;
}

a:hover {
  background-color: cadetblue;
}

a {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 20%;
  height: 10%;
  display: block;
}
