* {
  padding: 0;
  border: 0;
  margin: 0;
}

div.rect {
  width: 22vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div.row {
    display: flex;
    justify-content: space-between;
    button {
      background-color: rgb(105, 33, 33);
      width: 7vh;
      height: 7vh;
    }
  }
}
