/* External Styling ，不需要 <style></style> */

/* pseudo element */
p::first-letter {
  color: hotpink;
}

/* attribute selector */
[href = "https://www.google.com/"]
{
  color: yellow;
}

a {
  text-decoration: none;
  color: darkorange;
}

p {
  text-indent: 2em;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 500;
}

body {
  background: url("/picture/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

body {
  margin: 5em;
  border-style: 10px dotted red;
}
