<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--網頁相關資訊-->
    <meta name="author" content="Chieh" />
    <title></title>
    <meta name="description" content="" />
    <!--link到sass版的css-->
    <link rel="stylesheet" href="./styles/style.css" />
    <!-- 設定網站圖示 -->
    <link rel="shortcut icon" href="" />
    <link rel="bookmark" href="" />
  </head>
  <body>
    <h1>請確認資料是否正確!</h1>
    <h2>名字 : <%=name %></h2>
    <h2>年齡 :<%=age %></h2>
    <button><h2>確認正確!</h2></button>
  </body>
</html>
