.container {
  width: 400px;
  height: 500px;
  background-color: black;
  overflow: scroll;
}
.box {
  width: 100px;
  height: 100px;
  background-color: wheat;
  /* 這沒有設定箱子移動不了! */
  position: relative;
  /* transition: all 5s ease-in; */
  border-radius: 10%;
  animation: cross ease-in 1s infinite alternate forwards;
}

@keyframes cross {
  from {
    background-color: red;
    top: 0px;
    left: 0px;
  }
  to {
    background-color: blue;
    top: 600px;
    left: 400px;
  }
}
