* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: antiquewhite;
}
table,
tr,
th,
td {
  border-collapse: collapse; // 讓框線合併(defualt為seperate)
  border: 1px solid rgb(187, 187, 187);
}
table {
  margin: 1rem;
}
th,
td {
  text-align: center;
}

tr,
th,
td {
  padding: 0.25rem 0.5rem;
}
